body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin:0;
  padding:0;
  max-width:100%;
}

.inbox-container {
    margin: 20px;
  }
  
  .inbox-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .inbox-table th, .inbox-table td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    top:0;
  }
  
  .inbox-table th {
    background-color: #f2f2f2;
    font-size: small;
  }
  .settings{
    border-style: none;
    background-color:transparent;
    padding: 0;
    margin-top: 2%;
   

}
  
  
  
  .inbox-table tbody tr {
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .inbox-table tbody tr:hover {
    background-color: #f5f5f5;
  }
  
header {
  background-color: rgb(160, 164, 163);
  padding: 10px; 
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-section {
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  margin-right: 15px; 
  margin-left:20px;
}

.searchbar {
  color:black;
  padding: 5px;
  font-size:15px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  width:400px;
  height:30px;
  margin-left:5px;
}
.searchbutton {
  border-style: none;
  background-color: #f5f5f5;
  color:black;
  font-size: 15px;
  padding:5px;
  border-radius:5px;
  height:30px;
}

.settings-button button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 5px; 
}

.profilepic {
  border-radius: 50%; 
  width: 80px; 
  height: 80px; 
  display: block; 
  margin: 0 auto; 
  padding-bottom: 5px;
}


.youracc img.profilepicture {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left:auto;
}

.youracc p.text {
  font-size: 12px;
  margin-left: 5px; 
}
.youracc{
  margin-bottom:15px;
  margin-top: 15px;
  border-style: none;
  background-color: rgb(160, 164, 163);
  height: 40px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  border-radius:5px;

}

.youracc button {
  border-style: none;
  background-color: rgb(160, 164, 163);
  height: 100%; 
  padding: 0 10px; 
  cursor: pointer;
  display: flex;
  align-items: center; 
  border-radius: 5px;
}


#boutton {
  margin-bottom:15px;
  border-style: none;
  background-color:rgb(160, 164, 163);
  height: 40px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.text {/*in the dropdown*/
  font-size: 12px;
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left:auto;
  margin-right:auto;
  color:black;
 
}
.icon { /*icon in the dropdown*/
  width:15px; 
  display: inline-block;
  background-color: transparent;
  margin-right:2px;
}
.dropdown-content {
  position: absolute;
  /*background-color: #f9f9f9;*/
  backdrop-filter: blur(15px);
  background: rgba(255,255,255,0.2);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left:50%;
  margin: 0 auto;
  padding:15px;
  display: ${dropdownVisible ? 'block' : 'none'};
  left: 95%;
  transform: translateX(-95%);
  border-radius: 20px;
}

#emailname{
  font-size: 12px;
  color:rgb(160, 164, 163);
  text-align: center;
  margin-bottom:6px;
}
.manageyouraccount{
  border-style:none;
  background-color: rgb(114, 116, 115);
  color:black;
  border-radius: 10px;
  height:40px;
  width:200px;
  margin-right: auto;
  margin-left:auto;
  font-size: 15px;
  font-weight: 500;
}